In [1]:
import pandas as pd

df = pd.read_csv("Dataset1 week 9.csv", sep=";")
df

,Geslacht,Bedrijfstakken/branches (SBI 2008),Perioden,Onderwerp,Type werkenden,Waarde
0,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Werknemers,68
1,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Zelfstandigen,66
2,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Werknemers,75
3,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Zelfstandigen,89
4,Mannen,"A Landbouw, bosbouw en visserij",2013,Arbeidsjaren,Werknemers,56
...,...,...,...,...,...,...
1915,Vrouwen,T Huishoudens,2018,Banen,Zelfstandigen,0
1916,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Werknemers,13
1917,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Zelfstandigen,0
1918,Vrouwen,T Huishoudens,2018,Gewerkte uren,Werknemers,23
1919,Vrouwen,T Huishoudens,2018,Gewerkte uren,Zelfstandigen,0

In [2]:
# Hoeveel banen waren er in 2018? 

banen_2018 = df[(df.Perioden == 2018) & (df.Onderwerp == "Banen")]["Waarde"].sum()
print(f"Er waren {banen_2018} aantal banen in 2018")

Er waren 10564 aantal banen in 2018

In [91]:
# Wat is in de jaren 2013-2018 het maximaal aantal personen werkzaam geweest in de Landbouw, bosbouw en visserij? 
# df.head()
# lbf_13_18 = df[(df["Bedrijfstakken/branches (SBI 2008)"] == "A Landbouw, bosbouw en visserij")
#                   & (df["Onderwerp"]=="Werkzame personen")]["Waarde"].max()

# print(f"{lbf_13_18 * 1000} aantal personen")


#GROUPBY!
filtered = df[(df["Bedrijfstakken/branches (SBI 2008)"]=="A Landbouw, bosbouw en visserij") &
              (df["Onderwerp"]=="Werkzame personen")]
grouped = filtered.groupby(["Perioden"])["Waarde"].sum().max()

print(f"\n{grouped* 1000} maximaal aantal personen zijn werkzaam geweest in de L.B.V.")

200000 maximaal aantal personen zijn werkzaam geweest in de L.B.V.

In [71]:
# Werken er meer mannen of meer vrouwen in de gezondheidszorg?
display(df['Bedrijfstakken/branches (SBI 2008)'].unique())

zorg = df[(df['Bedrijfstakken/branches (SBI 2008)'] == 'Q Gezondheids- en welzijnszorg')
         &(df["Onderwerp"] == "Werkzame personen")]

test = zorg.groupby(["Geslacht"])["Waarde"].sum().reset_index()
# Er werken 26971 vrouwen en 6942 mannen, dus meer vrouwen
display(test)

if test.iloc[1,1] > test.iloc[0,1]:
    print("Meer vrouwen")
elif test.iloc[1,1] < test.iloc[0,1]:
    print("Meer mannen")
else:
    print("Gelijk aantallen")

array(['A Landbouw, bosbouw en visserij', 'B Delfstoffenwinning',
       'C Industrie', 'D Energievoorziening',
       'E Waterbedrijven en afvalbeheer', 'F Bouwnijverheid', 'G Handel',
       'H Vervoer en opslag', 'I Horeca', 'J Informatie en communicatie',
       'K Financiële dienstverlening',
       'L Verhuur en handel van onroerend goed',
       'M Specialistische zakelijke diensten',
       'N Verhuur en overige zakelijke diensten',
       'O Openbaar bestuur en overheidsdiensten', 'P Onderwijs',
       'Q Gezondheids- en welzijnszorg', 'R Cultuur, sport en recreatie',
       'S Overige dienstverlening', 'T Huishoudens'], dtype=object)

  Geslacht  Waarde
0   Mannen    1547
1  Vrouwen    6870

Meer vrouwen

In [73]:
# Wat is de procentuele stijging in arbeidsjaren tussen 2015 en 2014? 
# df.head()
test = df[((df.Perioden == 2014) | (df.Perioden == 2015)) 
         & (df.Onderwerp == "Arbeidsjaren")]

calculate = test.groupby(["Perioden"])["Waarde"].sum().reset_index()
result = calculate.iloc[1,1] / calculate.iloc[0,1]
print(f"Procentuele stijging in arbeidsjaren tussen 2015 en 2014 is {result * 100 -100:.2f}%\n")

print(result)

Procentuele stijging in arbeidsjaren tussen 2015 en 2014 is 1.27%

1.0127075812274369

In [35]:
# Welk type banen (werkenden en zelfstandigen) is het meest gestegen in de periode 2013-2018? 
df.head()

,Geslacht,Bedrijfstakken/branches (SBI 2008),Perioden,Onderwerp,Type werkenden,Waarde
0,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Werknemers,68
1,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Zelfstandigen,66
2,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Werknemers,75
3,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Zelfstandigen,89
4,Mannen,"A Landbouw, bosbouw en visserij",2013,Arbeidsjaren,Werknemers,56

In [35]:
display(df["Bedrijfstakken/branches (SBI 2008)"].unique())

array(['A Landbouw, bosbouw en visserij', 'B Delfstoffenwinning',
       'C Industrie', 'D Energievoorziening',
       'E Waterbedrijven en afvalbeheer', 'F Bouwnijverheid', 'G Handel',
       'H Vervoer en opslag', 'I Horeca', 'J Informatie en communicatie',
       'K Financiële dienstverlening',
       'L Verhuur en handel van onroerend goed',
       'M Specialistische zakelijke diensten',
       'N Verhuur en overige zakelijke diensten',
       'O Openbaar bestuur en overheidsdiensten', 'P Onderwijs',
       'Q Gezondheids- en welzijnszorg', 'R Cultuur, sport en recreatie',
       'S Overige dienstverlening', 'T Huishoudens'], dtype=object)

In [100]:
""" 
lastdf = df[(df.Perioden == 2013) | (df.Perioden == 2018)]
to_calculate = lastdf.groupby(["Perioden", "Bedrijfstakken/branches (SBI 2008)"])["Waarde"].sum().reset_index()
print(to_calculate)
print(f"\nWerknemer aantallen zijn {to_calculate.iloc[2,2]/to_calculate.iloc[0,2]:.2f}% gestegen tussen 2013 en 2018")
print(f"\nZelfstandigen aantallen zijn {to_calculate.iloc[3,2]/to_calculate.iloc[1,2]:.2f}% gestegen tussen 2013 en 2018")
"""

#Welk type banen (werkenden en zelfstandigen) is het meest gestegen in de periode 2013-2018? 

data_2013 = df[(df["Perioden"] == 2013) & (df["Onderwerp"] == "Banen")]
data_2018 = df[(df["Perioden"] == 2018) & (df["Onderwerp"] == "Banen")]

#merging both frames to work on one frame
total = data_2013.merge(data_2018, on= "Bedrijfstakken/branches (SBI 2008)", how="inner", suffixes= ("_13", "_18"))

#taking just the relevant columns to calculate
result = total[["Bedrijfstakken/branches (SBI 2008)", "Waarde_13", "Waarde_18" ]]

# getting the sum of columns per branche in the available columns Waarde_13 and Waarde_18
calculate = result.groupby(["Bedrijfstakken/branches (SBI 2008)"]).sum()

display(calculate)
#calculating difference and adding Verschil column 
calculate["Verschil"] = calculate["Waarde_18"] - calculate["Waarde_13"]

# assigning the answer to question to eind_result
eind_result = calculate[calculate["Verschil"] == calculate["Verschil"].max()]

print(f" Type {eind_result.index[0]}, zijn meest gestegen in de periode 2013-2018")

                                         Waarde_13  Waarde_18
Bedrijfstakken/branches (SBI 2008)
A Landbouw, bosbouw en visserij                960       1004
B Delfstoffenwinning                            36         32
C Industrie                                   3168       3268
D Energievoorziening                           112        112
E Waterbedrijven en afvalbeheer                136        144
F Bouwnijverheid                              2040       2188
G Handel                                      5968       6416
H Vervoer en opslag                           1652       1756
I Horeca                                      1732       2096
J Informatie en communicatie                  1144       1356
K Financiële dienstverlening                   996        860
L Verhuur en handel van onroerend goed         336        336
M Specialistische zakelijke diensten          3216       3596
N Verhuur en overige zakelijke diensten       4824       5992
O Openbaar bestuur en overheidsdiensten       2036       2028
P Onderwijs                                   2276       2428
Q Gezondheids- en welzijnszorg                6424       6512
R Cultuur, sport en recreatie                  828        944
S Overige dienstverlening                      944       1000
T Huishoudens                                  168        188

 Type N Verhuur en overige zakelijke diensten, zijn meest gestegen in de periode 2013-2018